/* ---------------------------- PRODUCTS -------------------*/

.product-top{
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 50px;
}
.product-top p{
    font-family: var(--font-family);
    margin: 0 12px;
    font-size: 12px;    
    display: flex;
}
.product-content-left {
    display: flex;

}
.product-content-right {
    padding-top: 10px;
    padding-left: 2rem;
}
.product-content-left-big-img {
    width: 80%;
    height: auto;
}
.product-content-left-big-img img {
    width: 100%
}
.product-content-left-small-img {
    width: 20%;
}
.product-content-left-small-img img::first-line {
    padding-top: 0;;
}

.product-content-left-small-img img {
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    cursor: pointer;
  }
  .product-content-right-product-name h1{
    font-family: var(--font-family);
    font-size: 16px;
  }
  .product-content-right-product-name p{
    color: #cccccc;
    font-size: 12px;
  }
  .product-content-right-product-price {
    margin: 12px 0;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-family);
  }
  .product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .product-content-right-product-color-img {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
  }
  .size span{
      display: inline-block;
      padding: 3px 6px;
      border: 1px solid #dddddd;
      margin: 12px 10px 12px 0;
      font-size: 12px;
      cursor: pointer;
    }
    .quantity{
      display: flex;
      margin-bottom: 20px;
    }
    .quantity input{
      width: 35px;
      padding-left: 3px;
    }
    .product-content-right-product-button button{
      width: 150px;
      height: 40px;
      display: block;
      margin: 20px 0 12px;
      transition: all 0.3s ease;
    }
    .product-content-right-product-button button:first-child{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #ffff;
      border: 2px solid black;
      cursor: pointer;
    }
    .product-content-right-product-button button:first-child:hover{
      background-color: black;
      color: #ffff;;
    }
    .product-content-right-product-button button:last-child{
      border: 2px solid #BF8A49;
      color: #BF8A49;
      background-color: #ffff;
      cursor: pointer;
    }
    .product-content-right-product-icon {
      display: flex;
    }
    .product-content-right-product-icon-item {
      display: flex;
      margin-right: 12px;
      justify-content: center;
      align-items: center;
    }
    .product-content-right-product-icon-item i {
      font-size: 12px;
      margin-right: 6px;
    }
    .product-content-right-bottom {
      padding-top: 40px;
      border-top: 1px solid #dddddd;
      position: relative;
    }
    .product-content-right-bottom-top {
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      top: -15px;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%);
      cursor: pointer;
    }
    .product-content-right-bottom-content-title{
      border-bottom: 2px solid #dddddd;

    }
    .product-content-right-bottom-content-title-item{
      padding: 6px;
      cursor: pointer;
      margin-right: 6px;
    }
    .product-content-right-bottom-content-title-item p{
      font-family: var(--font-family);
      font-size: 12px;      
    }
    .product-content-right-bottom-content{
      padding-top: 30px;
    }
.product-content-right-bottom-content {
    font-family: var(--font-family);
    font-size: 12px;
    }
.product-content-right-bottom-content-big {
    display: flex;
}
    .product-content-right-bottom-content-baoquan{
      display: none;
    }
    .product-content-right-bottom-content-chitiet{
      display: none;
    }    
    .activeB {
      display: none;
    }
      /* product related */
    .product-related {
      margin-bottom: 50px;
      margin-left: 20px;
    }
    .product-related-title {
      margin: 20px 0;
    }
    .product-related-title p {
      font-family: var(--font-family);
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .product-related-item{
      width: 20%;
      text-align: center;
      padding: 0 6px;
    }
    .product-related-item img{
      width: 100%;
    }
    .product-related-item h1{
      font-family: var(--font-family);
      font-size: 11px;
      color: #333333;
      margin-top: 6px;
    }
    .product-related-item p {
      font-size: 12px;
      text-decoration: line-through;
    }
